1.	Выдача товара происходит после нажатия кнопки (Если пользователь только что подошел (s1[mode] = IDLE и s2[mode] = CHOICE), товар не будет выдан (product1 = False), пока пользователь не нажмет на кнопку (button1 = False))
2.	Если внесено недостаточно денег (credit < PRICE1), выдача товара не начинается (s1[product1] = False и s2[product] = False)
3.	Если пользователь внес недостаточно денег (credit < PRICE1) и в режиме выбора (mode = CHOICE) нажал на кнопку (button1 = False), то автомат должен предложить внести недостающую сумму (lockChanger = False и mode = ADD_MONEY, пока credit < PRICE1).
4.	Если товар выдан (given1 = True) и на счете остались деньги (credit > 0), то автомат должен посчитать и вернуть сдачу (dispense = True и change = credit) не более, чем через 200 миллисекунд
5.	Автомат должен сначала принимать деньги, а затем предоставлять возможность пользователю ввести код товара  (В состоянии ожидания (mode = IDLE) автомат принимает деньги (lockChanger = False))
6.	Если пользователь нажал кнопку отмены (cancel = PRESSED) во время транзакции (mode \neq IDLE) и товар еще не выдается (product1 = False и product2 = False), то автомат возвращает мелочь (dispense = True и change = credit).
7.	Когда автомат находится в состоянии ожидания (mode = IDLE), кредит равен нулю  (credit = 0)
8.	Если монетоприемник не заблокирован (lockChanger = False), при внесении денег кредит увеличивается на внесенную сумму (getVarInt(s2, credit) = getVarInt(s1, credit) + getVarInt(s2, disposited))
9.	После выдачи товара (given1 = True) кредит уменьшается на стоимость товара (s2[credit] = s1[credit] – PRICE1)
10.	Если товар не выдан (s1[product1 =  True и s1[product2] = False и s2[given1] = False), то автомат не более, чем через 200 миллисекунд предоставит возможность выбора товара (mode = CHOICE)
11.	Во время выдачи товара (product1 = True или product2 = True) монетоприемник блокируется (lockChanger = True)
12.	Два товара не выдаются одновременно (product1 = True  product2 = False)
